* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  color: white;
}
input {
  color: black;
}
body {
  background: transparent;
  max-width: 100vw;
}
#root {
  width: 100%;
  max-width: 100vw;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scorecontainer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.15;
  transform: translateY(-50%) rotate(-1deg);
}

.scorecontainer {
  width: 90%;
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
}
.player{
  font-size: 18px;
  background: #130c60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: calc((100% - 100px) / 2);
}
.playerA {
  border-left: 10px solid white;
}
.playerB {
  border-right: 10px solid white;
}
.raceto {
  width: 120px;
  background: black;
  padding: 20px;
  text-transform: uppercase;
}
.playerA .score {
  margin-right: 30px;
  font-size: 30px;
}

.playerB .score {
  margin-left: 30px;
  font-size: 30px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag {
  font-size: 40px;
  margin: 0 10px;
}
.flag img {
  width: 40px;
  border: 1px solid;
}
.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  font-size: 20px;
}

.nomatch {
  background: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 2px;
}

.runouts {
  color: gray;
  border: 2px solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  aspect-ratio: 1 / 1;
  margin: 10px;
}
.playerB.break:before {
  content: "▶";
  font-size: 24px;
  position: absolute;
  left: 0px;
}
.playerA.break:before {
  content: "◀";
  font-size: 24px;
  position: absolute;
  right: 0px;
}

.handicap {
  color: gray;
  margin: 5px;
}

input {
    color: black;
    background: white;
    padding: 20px;
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.individual-matches{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
}

.individual-match {
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: rgb(41, 41, 41);
    margin-bottom: 2px;
    font-size: 14px;
}
.individual-match.finished {
  background: rgb(36, 58, 116);
  color: white;
}
.individual-match.running {
  background: rgb(70, 125, 247);
  color: white;
}
span.pA {
    display: flex;
    align-items: center;
}

.rt{
    position: relative;
    margin: 0;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.race-to {
    display: flex;
    align-items: center;
    color: white;
    height: 35px;
    margin: 0 10px;
}

span.scoreA, span.scoreB {
    display: flex;
    align-items: center;
    position: relative;
}

img.discipline {
    width: 30px;
    margin-right: 10px;
}

span.pB {
    text-align: right;
}

.race-to.winner-1 .scoreA {
    color: rgb(255, 152, 0);
}

.race-to.winner-2 .scoreB {
    color: rgb(255, 152, 0);
}

.scoreA,.scoreB{
  font-size: 16px;
}

.multi-set-scoreboard {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(13,133,91,1);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.player-info {
  display: flex;
  align-items: center;
  width: 300px;
}

.player-row {
    display: grid;
}

.player-score, .set-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.set-score.winner {
    color: #ffffff;
}

span.set-score {
    color: #c8c8c8;
}

.active-set{
    background: white;
}

.active-set .set-score,
.active-set .set-score.winner {
    color: rgba(13, 133, 91, 1);
    font-weight: bold;
}
.multi-set-scoreboard .flag{
  margin-left: 0
}

.player-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.potted-balls-indicator img {
    width: 30px;
    height: 30px;
    border: 1px solid;
}
.potted-balls-indicator {
    padding: 5px 8px;
    background: white;
    display: flex;
    gap: 10px;
    width: auto;
    border-radius: 27px;
    margin: auto;
    margin-top: 5px;
}
.scoreboard{
  display: flex;
  height: 50px;
}
.potted {
  opacity: 0;
}

.railbirds {
  --a-primary-color: var(--color-a, #ca3a39);
  --a-secondary-color: hsl(from var(--a-primary-color) h s calc(l - 8));
  --a-tertiary-color: hsl(from var(--a-primary-color) h s calc(l - 18));

  --b-primary-color: var(--color-b, #2f76c3);
  --b-secondary-color: hsl(from var(--b-primary-color) h s calc(l - 8));
  --b-tertiary-color: hsl(from var(--b-primary-color) h s calc(l - 18));

  max-width: 1000px;
  .scoreboard{
    height: 100px;
    font-weight: bold;
    transform: scale(0.8);
  }
  .raceto{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-transform: none;
    font-size: 18px;
    width: 100px;
    padding: 0;
    flex-shrink: 0
  }
  .raceno{
    font-size: 30px;
    color: #faf232;
  }
  .score {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: verdana;
    margin: 0;
    flex-shrink: 0;
    box-shadow: 0 0 1px 0px black;
  }
  &:after{
    display: none;
  }

  .player{
    display: flex;
    flex-direction: column;
    width: calc((1000px - 300px) / 2);
  }
  .playerA {
    background-color: var(--a-tertiary-color);
    border: none;
    .name {
      background-color: var(--a-secondary-color);
      text-align: right;
    }
    .extras {
      text-align: right;
    }
  }
  .scoreA{
    background-color: var(--a-primary-color);
  }
  .scoreB{
    background-color: var(--b-primary-color);
  }
  .playerB {
    background-color: var(--b-tertiary-color);
    border: none;
    .name {
      background-color: var(--b-secondary-color);
      text-align: left;
    }
  }
  .name {
    font-size: 25px;
    align-self: flex-start;
    padding: 20px 10px;
    height: 70px;
    box-sizing: border-box;
    width: 350px;
    display: inline-block;
  }
  .info{
    width: 100%;
    height: 100%;
  }
  .extras {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
  }
}